.background-search {
    width: 100%;
    padding: 10%;
}

.main-search {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* collection */
.color-collection {
    color: #7a7a7a !important;
    font-size: 1em;
}
.collection-title {
    text-align: center;
    margin: 2em 0;
}

