.container-home {
    flex-grow: 1;
    margin: 0 75px;
    position: relative;
    width: auto;
}
.title-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #1b3c5d;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
.title-home-type {
    color: #b1a21e;
    text-transform: uppercase;
}
.title-home-watchAll {
    color: #ccc;
    font-size: 17px;
    font-weight: 400;
}
.title-home-watchAll:hover {
    color: #dcf836;
}
.main-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.img-home {
    height: auto;
    max-width: 100%;
}
.main-home-title-movie {
    margin-top: 0.5em;
}
.movieName {
    color: #dbdbdb;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.movieNameVn {
    color: #7a7a7a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
    font-weight: 400;
    text-align: center;
}


/* Reponsive */
@media only screen and (max-width: 768px) {
    .container-home{
        margin: 0 15px;
    }
    .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1066px) {
    .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}
