.aaaa {
    margin-bottom: 700px;
    padding: 0px;
    overflow: hidden;
}
.cccc {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 75%;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
}
